
@import "style.css";
@import "estrutura.css";

.conteudo{
    width:100%;
    height: 100px;
    border:1px solid black;
}
.menu_home{
    width:1000px;
    height: 80px;
    border:1px solid black;
    border-radius: 8px;
    margin:20px auto; 
    padding: 30px;   
}
.menu_home li{
    float: left;
    margin-left: 25px;
    font-family: arial;
    font-weight: bold;    
    font-size: 15px;
}

.section_conteudo{
    width: 100%;
    height: 600px;
    margin: 40px auto;
    padding-top: 20px;

}
.titulo_section{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.alugar_veiculo{
    width: 1000px;
    height: 450px;
    padding: 25px;
    margin: 30px auto;
    border:1px solid black;
    border-radius: 10px;
}
.area_texto{
    width:450px;
    height: 350px;
    padding: 80px 30px;
    float: left;
    /* border:1px solid black; */
}
.imagem_veiculo{
    width:400px;
    height: 400px;
    /* border:1px solid black;  */
    margin-left: 70px;
    float: left;
}
.imagem_veiculo img{
    width:400px;
    height: 400px;
}
/* section2 */
.como_funciona{
    width:1200px;
    height: 450px;
    margin:40px auto;
    /* border:1px solid black; */
}
.area_texto_maior{
    width:600px;
    height: 350px;
    padding: 10px 30px;
    float: left;
    margin: 40px 40px;
}
.left{
    margin: 20px 40px;;
}
/* fim section 2 */
/* section 3 */
.area_tipo_veiculo{
    width:1200px;
    height: 450px;
    /* border:1px solid black; */
    margin: 50px auto;
    padding-left:50px;
}
.tipos_veiculos{
    width:320px;
    height: 400px;
    border:1px solid black;
    border-radius: 20px;
    float: left;
    margin:15px 30px;
}
.imagem_tipo{
    border-radius: 5px;
    width:300px;
    height: 280px;
    margin:20px auto;
}
.imagem_tipo img{
    width:290px;
    height: 270px;
    border-radius: 5px;
}


/* fim section 3 */
/* section 4 */
.section_conteudo_anuncios{
    width: 100%;
    height: 800px;
    margin: 40px auto;
    padding-top: 20px;

}
#area_anuncios{
    width:1200px;
    height: 750px;
    /* border:1px solid black; */
    margin: 0px auto;
    
}

#segura_filtro{
    width:1020px;
    height: 80px;
    border:1px solid black;
    border-radius: 15px;
    margin:40px auto;
    padding: 15px 60px;
}
.combo_box{
    /* border: 1px solid black; */
    float: left;
    width: 220px;
    height: 60px;   
}
.combo_box label{
    font-family: arial;
    font-size: 16px;
}
.combo_box select{
    width:200px;
    height: 30px;
    margin-top:5px;
    border-radius: 5px;
    outline: none;
}
#segura_anuncios{
    width:1100px;
    height: 510px;
    /* border:1px solid black; */
    margin:20px auto;
    padding-left: 9px;
}
.anuncios{
    width:300px;
    height: 420px;
    border:1px solid black;
    border-radius: 15px;
    float: left;
    margin:30px 30px;
}
.img_anuncio{
    display: block;
    margin: 10px auto;
    width:250px;
    height: 200px;
    /* border:1px solid black; */  
}
.img_anuncio img{
    width: inherit;
    height: inherit;
}
.info_anuncio{
    width:305px;
    height: 130px;
    padding: 15px;
}
.nome_veiculo{
    font-family: arial;
    text-align: center;
    font-size: 17px;
}
.segura_info{
    width:120px;
    height: 100px;
    float: left;
    line-height: 22px;
    padding:10px 10px;
}

.btnVisualizar{
    width:120px;
    height:40px;
    background-color: #008039;
    border-radius: 8px;
    margin:20px auto;
    padding-top: 10px;
    cursor: pointer;
    text-align: center;
}
.btnVisualizar a{
    font-family: arial;
    font-size: 16px;
    color: #fff;
}
.segura_info{
    font-family: arial;
    font-size: 16px;
}
/* fim section 4 */

/* section 5 */
.section_anunciar{
    width: 100%;
    height: 1700px;
    margin: 40px auto;
}
#segura_conteudo{
    width: 1250px;
    height: 1700px;
    /* border:1px solid black; */
    margin: 30px auto;
    padding-top: 50px;
}
.anunciar_veiculo{
    width: 1100px;
    height: 1600px;
    padding: 25px;
    margin: 30px auto;
    border:1px solid black;
    border-radius: 10px;
}
.anunciar_veiculo h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}
.div_passos{
    width:1000px;
    height: 300px;
    /* border:1px solid black; */
    margin:70px auto;
}
.bolinha_passos{
    width:60px;
    height: 60px;
    /* border:1px solid black; */
    border-radius:50px;;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    background-color:#008039;
}
.numero_bolinhas{
    font-size: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    color: #fff;
}
.texto_passos{
    width:650px;
    height: 250px;
    /* border:1px solid black; */
    float: left;
    margin-left: 20px;
    margin-top: 12px;
}
.texto_passos h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
}
.texto_passos p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 35px;
}
.img_bolinha{
    width:220px;
    height: 220px;
    /* border:1px solid black; */
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}
.img_bolinha img{
    width:215px;
    height: 215px;
}
/* fim section 5 */
/* section 6 */
.section_fale_conosco{
    width: 100%;
    height: 650px;
    margin: 40px auto;
    /* border:1px solid black; */
    padding-top:50px;
}
.section_fale_conosco h2{
    text-align: center;
    font-family: arial;
    font-size: 25px;
}
#fale_conosco{
    width: 500px;
    height:520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 50px;
    /* border:1px solid black; */
}
.input_form{
    width: 400px;
    overflow: hidden;
    font-size: 20px;
    padding: 5px 0;
    margin: 25px 0;
    border-bottom: 1px solid black;
}
.input_form input, textarea{
    outline: none;
    border: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 400px;
    margin: 10px;
    resize: none;
}
#buttonEnviar{
    border:none;
    outline: none;
    width:400px;
    height: 50px;   
    border-radius: 10px;
}

/* fim section 6 */