<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mob'Share-Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/faq.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div id="principal">
        <header>

            <!-- <img src="imagem/fundo.jpg" alt="" title="">  -->
            <nav>
                <div id="segura_nav">
                    <div id="logo">
                        <img src="imagem/logo_transparente.png" alt="logo" title="logo">
                    </div>

                    <div class="segura_menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Melhores avaliações</a></li>
                            <li><a href="#">Tabela de preços</a></li>
                            <li><a href="#">Sobre a empresa</a></li>
                            <li><a href="#">Tutorial</a></li>
                            <li>Mais</li>
                        </ul>
                    </div>
                    <div class="segura_login">
                        <input type="button" name="btmLogin" id="btnLogin" value="Login">
                        <input type="button" name="btmCadastro" id="btnCadastro" value="Cadastra-se" >
                    </div>
                </div>    
            </nav>
        </header>
        <div id="conteudo">
            <div  id="faq-painel-topicos" class="row">
                <button> Carros </button>
                <button> Locações </button>
                <button> Usuários </button>
                <button> Valores </button>
            </div>
             <div id="faq-painel-perguntas">
                <div class="pergunta">
                    <div class="cold8 desc">
                        <h2> Pergunta sobre carros</h2>
                        <p> Inicio da resposta</p>
                    </div>
                    <div class="cold2 scroll">
                        <img src="imagem/arrow_down.png" width="32">
                        <!--<i class="fas fa-chevron-down"></i>-->
                    </div>
                </div>
                <div class="pergunta">
                    <div class="cold8 desc">
                        <h2> Pergunta Locações</h2>
                        <p> Inicio da resposta</p>
                    </div>
                    <div class="cold2 scroll">
                        <img src="imagem/arrow_down.png" width="32">
                        <!--<i class="fas fa-chevron-down"></i>-->
                    </div>
                </div>
                <div class="pergunta">
                    <div class="cold8 desc">
                        <h2> Pergunta valores</h2>
                        <p> Inicio da resposta</p>
                    </div>
                    <div class="cold2 scroll">
                        <img src="imagem/arrow_down.png" width="32">
                        <!--<i class="fas fa-chevron-down"></i>-->
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="cold7 center" id="faq-painel-paginete">
                    <div class="btn"><i class="fas fa-chevron-left"></i></div>
                    <div class="cold3">
                        <div class="btn">1</div>
                        <div class="btn">2</div>
                        <div class="btn">3</div>
                        <div class="btn">4</div>
                        <div class="btn">5</div>
                    </div>
                    <div class="btn"><i class="fas fa-chevron-right"></i></div>
                <div>
             </div>
        </div>
        <footer class="row">
            <!--  Caixas que contem o contato e o navegar pelo site -->
            <div class="row borda_embaixo">
                <div class="cold4 esquerda logo">
                  <img src="imagem/faveicon.png" alt="logo" height="100px" width="100px">
                </div>
                <div class="cold4 direita">
                  <form id="frmEmail">
                    <div class="row"><p>Quer receber noticias</p></div>
                    <div class="row">
                         <input type="text" placeholder="Insira seu email" class="cold7 esquerda">
                         <button class="cold2 esquerda">Enviar</button>
                    </div>
                  </form>
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                    <div class="cold7 esquerda" data-style="caixa-contatos">
                        <div class="cold4 esquerda">
                          <h3> Quer entrar em contato? </h3>
                          <p><strong>Telefone</strong>: 0800 755 855</p>
                          <p><strong>E-mail</strong>: atendimento@mobshare.com.br</p>
                        </div>
                        <div class="cold7 esquerda" data-style="naveguesite">
                          <h3> Navegue pelo site </h3>
                          <div class="cold4">Melhores avaliações</div><div class="cold4">Termos de uso</div>
                          <div class="cold4">Principais anúncio</div><div class="cold4">Tutorial</div>
                          <div class="cold4">Tabela de Preço</div><div class="cold4">Detalhe dos valores</div>
                          <div class="cold4">Sobre a empresa</div><div class="cold4">F.A.Q</div>
                          <div class="cold4">Seja um parceio</div><div class="cold4">Acesse a áreas administrativa</div>
                        </div>
                    </div>
                    <!--  Caixas das redes sociais  -->
                    <div class="cold3 direita" data-style="caixa-redes">
                        <div class="row"><p>Siga nós nas redes</p></div>
                         <div class="row" style="text-align: center;">
                           <i class="fab fa-facebook"></i>
                           <i class="fab fa-instagram"></i>
                           <i class="fab fa-twitter-square"></i>
                           <i class="fab fa-google-plus-square"></i>
                        </div>
                        <div class="row"><p>Baixe nosso aplicativo na playstore</p></div>
                        <div class="row">
                           <img class="center" style="display:block;" src="imagem/googleplay.png" width="128">
                        </div>
                   </div>
            </div>
        </footer>
</body>
</html>