<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mob'Share-Home</title>
        <link rel="stylesheet" type="text/css" media="screen" href="css/melhores_anuncios.css"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <div id="principal">
            <header>
                <!-- <img src="imagem/fundo.jpg" alt="" title="">  -->
                <nav>
                    <div id="segura_nav">
                        <div id="logo">
                            <img src="imagem/logo_transparente.png" alt="logo" title="logo">
                        </div>
                        <div class="segura_menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Melhores avaliações</a>
                                </li>
                                <li>
                                    <a href="#">Tabela de preços</a>
                                </li>
                                <li>
                                    <a href="#">Sobre a empresa</a>
                                </li>
                                <li>
                                    <a href="#">Tutorial</a>
                                </li>
                                <li>Mais</li>
                            </ul>
                        </div>
                        <div class="segura_login">
                            <input type="button" name="btmLogin" id="btnLogin" value="Login">
                            <input type="button" name="btmCadastro" id="btnCadastro" value="Cadastra-se">
                        </div>
                    </div>
                </nav>
            </header>
            <div id="conteudo">
                <div class="legend">Principais Anuncios</div>
                <form id="pesquisa">
                    <div class="row">
                        <div id="caixa-pesquisa" class="center">
                            <input type="search" class="cold10 esquerda" id="txtPesquisa" name="txtPesquisa">
                            <i class="fas fa-search esquerda"></i>
                        </div>
                    </div>
                </form>
                <div id="AnunciosBox" class="action-animated">
                    <div class="anuncio">
                        <div class="img">
                            <img alt="carro" src="imagem/possivelcarro.jpg">
                        </div>
                        <div class="titulo"> Corça </div>
                        <div class="desc">
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Nome:</label>
                                <label class="anuncio_valor">Gilberto</label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Periodo:</label>
                                <label class="anuncio_valor"> 10:00 - 16:30 </label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo"> Valor:</label>
                                <label class="anuncio_valor"> R$ 22,00 </label>
                            </div>
                        </div>
                        <button onclick="visualizar()">Visualizar </button>
                    </div>
                    <div class="anuncio">
                        <div class="img">
                            <img alt="carro" src="imagem/possivelcarro.jpg">
                        </div>
                        <div class="titulo"> Corça </div>
                        <div class="desc">
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Nome:</label>
                                <label class="anuncio_valor">Gilberto</label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Periodo:</label>
                                <label class="anuncio_valor"> 10:00 - 16:30 </label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo"> Valor:</label>
                                <label class="anuncio_valor"> R$ 22,00 </label>
                            </div>
                        </div>
                        <button onclick="visualizar()">Visualizar </button>
                    </div>
                    <div class="anuncio">
                        <div class="img">
                            <img alt="carro" src="imagem/possivelcarro.jpg">
                        </div>
                        <div class="titulo"> Corça </div>
                        <div class="desc">
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Nome:</label>
                                <label class="anuncio_valor">Gilberto</label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Periodo:</label>
                                <label class="anuncio_valor"> 10:00 - 16:30 </label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo"> Valor:</label>
                                <label class="anuncio_valor"> R$ 22,00 </label>
                            </div>
                        </div>
                        <button onclick="visualizar()">Visualizar </button>
                    </div>
                    <div class="anuncio">
                        <div class="img">
                            <img alt="carro" src="imagem/possivelcarro.jpg">
                        </div>
                        <div class="titulo"> Corça </div>
                        <div class="desc">
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Nome:</label>
                                <label class="anuncio_valor">Gilberto</label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Periodo:</label>
                                <label class="anuncio_valor"> 10:00 - 16:30 </label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo"> Valor:</label>
                                <label class="anuncio_valor"> R$ 22,00 </label>
                            </div>
                        </div>
                        <button onclick="visualizar()">Visualizar </button>
                    </div>
                    <div class="anuncio">
                        <div class="img">
                            <img alt="carro" src="imagem/possivelcarro.jpg">
                        </div>
                        <div class="titulo"> Corça </div>
                        <div class="desc">
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Nome:</label>
                                <label class="anuncio_valor">Gilberto</label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Periodo:</label>
                                <label class="anuncio_valor"> 10:00 - 16:30 </label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo"> Valor:</label>
                                <label class="anuncio_valor"> R$ 22,00 </label>
                            </div>
                        </div>
                        <button onclick="visualizar()">Visualizar </button>
                    </div>
                    <div class="anuncio">
                        <div class="img">
                            <img alt="carro" src="imagem/possivelcarro.jpg">
                        </div>
                        <div class="titulo"> Corça </div>
                        <div class="desc">
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Nome:</label>
                                <label class="anuncio_valor">Gilberto</label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo">Periodo:</label>
                                <label class="anuncio_valor"> 10:00 - 16:30 </label>
                            </div>
                            <div class="anuncio_dado">
                                <label class="anuncio_atributo"> Valor:</label>
                                <label class="anuncio_valor"> R$ 22,00 </label>
                            </div>
                        </div>
                        <button onclick="visualizar()">Visualizar </button>
                    </div>
                </div>
                <div id="paginate">
                    <div class="paginate-prev">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="paginate-number">
                        <label>1</label>
                        <label>2</label>
                        <label>3</label>
                        <label>4</label>
                    </div>
                    <div class="paginate-next">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
</div>
<footer class="row">
    <!--  Caixas que contem o contato e o navegar pelo site -->
    <div class="row borda_embaixo">
        <div class="cold4 esquerda logo">
            <img src="imagem/faveicon.png" alt="logo" height="100px" width="100px">
        </div>
        <div class="cold4 direita">
            <form id="frmEmail">
                <div class="row">
                    <p>Quer receber noticias</p>
                </div>
                <div class="row">
                    <input type="text" placeholder="Insira seu email" class="cold7 esquerda">
                    <button class="cold2 esquerda">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="cold7 esquerda" data-style="caixa-contatos">
            <div class="cold4 esquerda">
                <h3>Quer entrar em contato? </h3>
                <p>
                    <strong>Telefone</strong>
                    : 0800 755 855
                
                </p>
                <p>
                    <strong>E-mail</strong>
                    : atendimento@mobshare.com.br
                
                </p>
            </div>
            <div class="cold7 esquerda" data-style="naveguesite">
                <h3>Navegue pelo site </h3>
                <div class="cold4">Melhores avaliações</div>
                <div class="cold4">Termos de uso</div>
                <div class="cold4">Principais anúncio</div>
                <div class="cold4">Tutorial</div>
                <div class="cold4">Tabela de Preço</div>
                <div class="cold4">Detalhe dos valores</div>
                <div class="cold4">Sobre a empresa</div>
                <div class="cold4">F.A.Q</div>
                <div class="cold4">Seja um parceio</div>
                <div class="cold4">Acesse a áreas administrativa</div>
            </div>
        </div>
        <!--  Caixas das redes sociais  -->
        <div class="cold3 direita" data-style="caixa-redes">
            <div class="row">
                <p>Siga nós nas redes</p>
            </div>
            <div class="row" style="text-align: center;">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-google-plus-square"></i>
            </div>
            <div class="row">
                <p>Baixe nosso aplicativo na playstore</p>
            </div>
            <div class="row">
                <img class="center" style="display:block;" src="imagem/googleplay.png" width="128">
            </div>
        </div>
    </div>
  </footer>
  <script src="js/main.js"></script>
  <script src="js/libs/jquery/jquery-3.3.1.js"></script>
  <script src="js/pages/melhores_anuncios.js"></script>

</body>
</html>