<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mob'Share-Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/parceiro.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="js/libs/jquery/jquery-3.3.1.js"></script>
</head>
<body>
    <div id="principal">
        <header>

            <!-- <img src="imagem/fundo.jpg" alt="" title="">  -->
            <nav>
                <div id="segura_nav">
                    <div id="logo">
                        <img src="imagem/logo_transparente.png" alt="logo" title="logo">
                    </div>

                    <div class="segura_menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Melhores avaliações</a></li>
                            <li><a href="#">Tabela de preços</a></li>
                            <li><a href="#">Sobre a empresa</a></li>
                            <li><a href="#">Tutorial</a></li>
                            <li>Mais</li>
                        </ul>
                    </div>
                    <div class="segura_login">
                        <input type="button" name="btmLogin" id="btnLogin" value="Login">
                        <input type="button" name="btmCadastro" id="btnCadastro" value="Cadastra-se" >
                    </div>
                </div>    
            </nav>
        </header>
        <div id="conteudo">
             <div class="row" style=" height: 360px;">
                <div class="cold4 esquerda">
                    <img src="https://picsum.photos/400/300/" style="width:100%;">
                </div>
                <div class="cold2 center" style="width: 29%;">
                    <div class="esquerda border-left"></div>
                    <div id="seja-parceiro" class="center" style="margin-top: 15px;">
                        <p>Lorem ipsum dolor sit amet, consectetur adi,suada nibh. Quisque placerat faucibus erat a sodales. Suspendisse condimentum vehicula dolor eu dapibus</p> 
                        <button>Quero ser um Parceiro</button>
                        <p>Lorem ipsum dolor sit amet, consectetur adi,suada nibh. Quisque placerat faucibus erat a sodales. Suspendisse condimentum vehicula dolor eu dapibus</p> 
                        <img src="imagem/selo4.png" alt="sdssd" width="92">
                    </div>
                    <div class="direita border-right"></div>
                    <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui nisl, viverra efficitur mollis non, ultrices in dui. Duis odio nulla, maximus ac scelerisque quis, pretium vel mauris. Morbi diam elit, feugiat sit amet sapien at, pulvinar malesuada nibh. Quisque placerat faucibus erat a sodales. Suspendisse condimentum vehicula dolor eu dapibus.</p><p> Aliquam non justo justo. Quisque at venenatis felis, sit amet posuere erat. Donec libero neque, tempus id ipsum in, faucibus rutrum ex. Quisque a arcu tempor, pretium elit et, porta purus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui nisl, viverra efficitur mollis non, ultrices in dui. Duis odio nulla, maximus ac scelerisque quis, pretium vel mauris. Morbi diam elit, feugiat sit amet sapien at, pulvinar malesuada nibh. Quisque placerat faucibus erat a sodales. Suspendisse condimentum vehicula dolor eu dapibus</p>
                    <button class="direita" style="margin-top:10px; margin-right:20px; padding: 9px;">Quero ser um Parceiro</button>-->
                </div>
                <div class="cold4 direita">
                    <img src="https://picsum.photos/400/300/" style="width:100%;">
                </div>

             </div>




             <div role="banner">
                <h2 class="center">NOSSOS PARCEIROS</h2>
                <link rel="stylesheet" href="js/libs/Blink_Slider/blink.css">
                <script src="js/libs/Blink_Slider/jquery.blink.js"></script>
                <section class="blink-slider center">
                    <button id="prev" aria-label="voltar Imagem"><i class="far fa-arrow-alt-circle-left"></i></button>
                    <button id="next" aria-label="proxima Imagem"><i class="far fa-arrow-alt-circle-right"></i></button>
                    <div class="blink-view" id="blink">
                        <div class="viewSlide">
                            <div class="ItemSlider" style="background-image: url(img/slide/banca.jpg);">
                                <div  class="Painel">
                                    <h1> Ultimas Noticias:</h1>
                                    <p class="sublinhado"><a href="#"> Ponte desaba em Genova</a></p>
                                    <p class="sublinhado"><a href="#"> Lula vira concorente a presidencia</a></p>
                                    <p class="sublinhado"><a href="#"> Marina vence as eleições 2018</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="viewSlide">
                            <div class="ItemSlider" style="background-image:url(img/slide/tec.jpg);">
                                <div  class="Painel">
                                    <h1>  Ciência e Tecnologia:</h1>
                                    <p class="sublinhado"><a href="#"> SpaceX aposta em viajem tripulada em 2019.</a></p>
                                    <p class="sublinhado"><a href="#"> Estudo descobre a rota da chegada do virus zika ao brasil.</a></p>
                                    <p class="sublinhado"><a href="#"> Após adiamento, Nasa lança sonda em direção ao sol.</a></p>
                                </div>                              
                            </div>
                        </div>
                    </div>
                    <div class="blink-control" id="blink-control">
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $("#blink").blink();
                        });
                    </script>
                </section>
                <section>
                    <h2 class="center"> VEJA COMO FUNCIONA </h2>
                    <div class="row">
                         
                    </div>
                </section>
         </div>
    </div>
    <footer class="row">
            <!--  Caixas que contem o contato e o navegar pelo site -->
            <div class="row borda_embaixo">
                <div class="cold4 esquerda logo">
                  <img src="imagem/faveicon.png" alt="logo" height="100px" width="100px">
                </div>
                <div class="cold4 direita">
                  <form id="frmEmail">
                    <div class="row"><p>Quer receber noticias</p></div>
                    <div class="row">
                         <input type="text" placeholder="Insira seu email" class="cold7 esquerda">
                         <button class="cold2 esquerda">Enviar</button>
                    </div>
                  </form>
                </div>
            </div>
            <div class="row" style="padding-top:15px;">
                    <div class="cold7 esquerda" data-style="caixa-contatos">
                        <div class="cold4 esquerda">
                          <h3> Quer entrar em contato? </h3>
                          <p><strong>Telefone</strong>: 0800 755 855</p>
                          <p><strong>E-mail</strong>: atendimento@mobshare.com.br</p>
                        </div>
                        <div class="cold7 esquerda" data-style="naveguesite">
                          <h3> Navegue pelo site </h3>
                          <div class="cold4">Melhores avaliações</div><div class="cold4">Termos de uso</div>
                          <div class="cold4">Principais anúncio</div><div class="cold4">Tutorial</div>
                          <div class="cold4">Tabela de Preço</div><div class="cold4">Detalhe dos valores</div>
                          <div class="cold4">Sobre a empresa</div><div class="cold4">F.A.Q</div>
                          <div class="cold4">Seja um parceio</div><div class="cold4">Acesse a áreas administrativa</div>
                        </div>
                    </div>
                    <!--  Caixas das redes sociais  -->
                    <div class="cold3 direita" data-style="caixa-redes">
                        <div class="row"><p>Siga nós nas redes</p></div>
                         <div class="row" style="text-align: center;">
                           <i class="fab fa-facebook"></i>
                           <i class="fab fa-instagram"></i>
                           <i class="fab fa-twitter-square"></i>
                           <i class="fab fa-google-plus-square"></i>
                        </div>
                        <div class="row"><p>Baixe nosso aplicativo na playstore</p></div>
                        <div class="row">
                           <img class="center" style="display:block;" src="imagem/googleplay.png" width="128">
                        </div>
                    </div>
            </div>
        </footer>
</body>
</html>